

.page_banner{
    color: white;
    object-fit: contain;
    height: 448px;
}

.page_banner_contents{
    margin-left: 30px;
    padding-top: 140px;  /* buffer from the top of page, as is present in netflix */
    height: 190px; /* prevents text overflow from this div onto other elements of page */
}

.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description{
    width: 45rem;  /* space between words? */
    line-height:  1.3rem;  /* space between lines */
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px; /* description paragraph width */


}

.banner_button{
    cursor: pointer;
    color:white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vm;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51 , 51, 0.5);
    padding-bottom: 0.5rem;
}

.banner_button:hover{
    color: black;
    background-color: #e6e6e6;
    transition: all 0.2s;
    
}

.banner-fadeBottom{
    height :7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111

    );
    
    /*  The div is a black gradient,
     which allows for polished look where 
     the page banner flows into the row components */


}